/** global **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:url(./images/background5.jpg);
    background-size: cover;
}


/** Header/Navba r**/
.menu {
 color: #fff;
 font-size: 30px;
 font-weight: 900;
 text-decoration: none;
 font-family: open;
 padding-right: 2em;
 margin: 3px;
 position: relative;
 display: inline-block;
 transition: .2s;
}

.menu ul
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.menu ul li
{
  list-style: none;
  padding: 4px;
  position: relative;
  transition: 0.5s;
  display: block;
  
}

.menu ul li a
{
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  overflow: hidden;
}

.menu ul li ul
{
  display: none;
  overflow: hidden;
}

.menu ul li:hover ul {
  display: block;
  position: absolute;
  margin-top: 5px;
  width: 100%;
  padding: 10px 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.menu ul li::before {
  content: '';
  position: absolute;
  height: 100%;
  width: -100%;
  background-color: black;
  left: -80%;
  overflow: hidden;
}

.menu ul li::after {
  content: '';
  width: 80%;
  height: .1rem;
  left: 100%;
  position: absolute;
  background-color: red;
  transition: .4s ease-in;
  bottom: 0;
}

.menu ul li:hover::before {
  left: 100%;
}

.menu ul li:hover::after {
  left: 0;
}

 header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: url(./images/brick.jpg);
    background-size: cover;
    padding: 1.5em;
    width: 100vw;
    position: fixed;
  }

   header h1 {
    margin-bottom: 5px;
    margin-right: 3em;
    background-color: black;
    color: white;
    padding: 15px 2em 15px 2em;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.0;
  }


   nav {
    display: flex;
    flex-wrap: wrap;
  }

   nav a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    font-family: open;
    padding-right: 2em;
    margin: 3px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    transition: .2s;
  }

  nav a::before {
    content: '';
    position: absolute;
    height: 100%;
    width: -100%;
    background-color: black;
    left: -80%;
  }

  nav a::after {
    content: '';
    width: 80%;
    height: .1rem;
    left: 100%;
    position: absolute;
    background-color: red;
    transition: .4s ease-in;
    bottom: 0;
  }

  nav a:hover::before {
    left: 100%;
  }

  nav a:hover::after {
    left: 0;
  }


  /** Banner **/
  .banner {
    background: url("./images/1500x500-American-Flag-Twitter-Header0028.jpg");
    background-size: cover;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    }

.banner-text {
    background-color: black;
    color: white;
    margin: 23px;
    padding: 10px;
}


/** About Me Section **/

.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.about-me > h1 {
  color: #fff;
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  font-size: 60px;
  text-align: center;
  line-height: 1.1;
}

.about-me > p {
  margin-top: 1opx;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.biography {
  border: 3px solid white;
  max-height: 600px;
  display: flex;
  flex-basis: calc(80% - 1em);
  align-items: flex-end;
  padding: 5px;
  margin-bottom: 1em;
  text-decoration: none;
}

.biography-text {
  color: #fff;
  font-size: 22px;
}

/* Media querries */
@media screen and (max-width: 860px) {
  nav, 
  nav a,
  header {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
  }  
  header {
    max-height: 275px;
  }
  header h1 {
    font-size: 25px;
  }
}


@media screen and (max-width: 480px) {
   nav,
   nav a,
   header, 
   header h1,
   .biography-text {
    flex-direction: column;
    align-items: center;
    font-size: 15px;
   }
  
}

