/** global **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(56, 53, 53, 0.788);
    background-size: cover;
}


/** Header/Navba r**/
.menu {
 color: #fff;
 font-size: 30px;
 font-weight: 900;
 text-decoration: none;
 font-family: open;
 padding-right: 2em;
 margin: 3px;
 position: relative;
 display: inline-block;
 transition: .2s;
}

.menu ul
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.menu ul li
{
  list-style: none;
  padding: 4px;
  position: relative;
  transition: 0.5s;
  display: block;
  
}

.menu ul li a
{
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  overflow: hidden;
}

.menu ul li ul
{
  display: none;
  overflow: hidden;
}

.menu ul li:hover ul {
  display: block;
  position: absolute;
  margin-top: 5px;
  width: 100%;
  padding: 10px 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.menu ul li::after {
  content: '';
  width: 80%;
  height: .1rem;
  left: 100%;
  position: absolute;
  background-color: red;
  transition: .4s ease-in;
  bottom: 0;
}

 header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: url(./images/brick.jpg);
    background-size: cover;
    padding: 1.5em;
    width: 100vw;
    position: fixed;
  }

   header h1 {
    margin-bottom: 5px;
    margin-right: 3em;
    background-color: black;
    color: white;
    padding: 15px 2em 15px 2em;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.0;
  }


   nav {
    display: flex;
    flex-wrap: wrap;
  }

   nav a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    font-family: open;
    padding-right: 2em;
    margin: 3px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    transition: .2s;
  }

  nav a::before {
    content: '';
    position: absolute;
    height: 100%;
    width: -100%;
    background-color: black;
    left: -80%;
  }

  nav a::after {
    content: '';
    width: 80%;
    height: .1rem;
    left: 100%;
    position: absolute;
    background-color: red;
    transition: .4s ease-in;
    bottom: 0;
  }

  nav a:hover::before {
    left: 100%;
  }

  nav a:hover::after {
    left: 0;
  }



  /** Banner **/
  .banner {
    background: url("./images/1500x500-American-Flag-Twitter-Header0028.jpg");
    background-size: cover;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    }

.banner-text {
    background-color: black;
    color: white;
    margin: 23px;
    padding: 10px;
}


/** Portfolio Contents **/

main {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: space-between;
  text-align: left;
}

.about-header {
  color: black;
  font-size: 50px;
  text-align: center;
}

.biography {
  max-height: 400px;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 70%;
  padding: 5px;
  text-decoration: none;
  box-shadow: 5px 7px 9px gray;
}

.biography-text {
  color: black;
  font-size: 22px;
}

.wrapper div {
  flex: 0 0 90%;
}

.wrapper h2 {
  color: black;
  font-size: 45px;
  border-left: 5px solid white;
  flex: 1 1 25%;
  line-height: 1.5;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container h3 {
  background-color: rgb(9, 14, 95);
  padding: 8px 12px;
}

.work-box {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: #fff;
  border: 8px solid rgb(9, 14, 95);
  min-width: 200px;
  min-height: 250px;
  flex-basis: calc(50% - 1em);
  padding: 0px 0px 15px 0px;
  margin: .5em;
  align-items: flex-end;
  justify-content: flex-end;
}

.tribute {
  background: url(./images/tributepage.png);
  background-size: cover;
}

.survey {
  background: url(./images/surveypage.png);
  background-size: cover;
}

.coming-soon {
  background: url("./images/coming-soon.webp");
  background-position: center;
}

.work-box:first-child {
  flex-basis: 100%;
  min-height: 450px;
}


/* Media querries */
@media screen and (max-width: 860px) {
  nav, 
  nav a,
  header {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
  }  
  header {
    max-height: 275px;
  }
  header h1 {
    font-size: 25px;
  }

  .biography,
  .biography-text {
    font-size: 15px;
  }
}


@media screen and (max-width: 480px) {
   nav,
   nav a,
   header, 
   header h1 {
    flex-direction: column;
    align-items: center;
    font-size: 15px;
   }

   .biography,
   .biography-text {
    font-size: 10px;
   }
   
  
}

